/* Taken from RNote */
.overlay_toolbar {
    padding: 6px;
    border-radius: 12px;
    background-color: @window_bg_color;
    border: 1px solid @borders;
    box-shadow: 0px 3px 6px @shade_color;
    margin: 6px;
}
